version: "3"

networks:
  loki:

services:

  promtail:
    image: grafana/promtail:latest
    ports: 
      - "514:514"
      - "9080:9080"
    volumes:
      - /var/log:/var/log
      - $PWD/:/etc/promtail/
    command: -config.file=/etc/promtail/promtail-config.yaml
    networks:
      - loki

  grafana:
    image: grafana/grafana:master
    ports:
      - "3000:3000"
    networks:
      - loki


  prometheus:
    image: prom/prometheus:latest
    ports:
        - "9090:9090"
    volumes:
        - $PWD:/prom-config/prometheus.yaml
    networks:
        - loki
    command: >-
        --config.file=/prom-config/prometheus.yaml


  loki:
    image: grafana/loki:latest
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - loki


